graft docs
exclude docs/reference/autosummary/*
graft src
exclude src/build
graft ci
graft tests

global-exclude *.py[cod]
global-exclude __pycache__/*
global-exclude *.so
global-exclude *.dylib
global-exclude .DS_Store
global-exclude */.ipynb_checkpoints/*
global-exclude .venv

include .editorconfig
include .pre-commit-config.yaml
include .cookiecutterrc
include tox.ini

include AUTHORS.md
include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE.txt
include README.md

recursive-include templates *.j2
